/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --fuente-encodeSansC: 'Encode Sans Condensed', sans-serif;
   --fuente-montserrat: 'Montserrat', sans-serif;
   --fuente-Open-Sans: 'Open Sans', sans-serif;
   --fuente-Raleway: 'Raleway', sans-serif;


}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: var(--fuente-encodeSansC);
    cursor: pointer;
    margin: 0;
    padding: 0;
    line-height: 1;
    width: 100vw;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
.todo {
    margin: 0 16px 0 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*Sección Menu*/

section.menu{
display: flex;
justify-content: space-between;
background:var(--cor-de-fundo) ;
align-items: center;
align-content: flex-end;
height: 10vh;

}
.menu__header{
    display: flex;
justify-content: space-between;
padding-left: 2rem;
align-items: center;
color: #464646;
}
.menu__header img{
    width: 40px;
    height: 40px;
}
.menu__title{
padding-left: 2rem ;
font-size: 2rem;
}
.menu__nav{
display: flex;
align-items: center;
}
.menu__list{
    display: flex;
    flex-direction: row;
    padding-right: 5rem;

}
.menu__list__item{

    background:#F5F5F5;
    border: 2px solid #000;
    border-radius: 5px;
    color: #0b0b0b;
    padding: 0.5rem;
    transition: all .1s ease-in-out;
    margin-right: 0.5rem;
    font-weight: 500 ;
    font-size: 1rem;
    
}
.menu__list__item:hover{
    cursor: pointer;
    background: #636262;

}
.menu__list__item__contato{
    padding-right: 2rem;
}




/*Sección Title*/

section.title{
   display: flex;
}
.title__div{
display: flex ;
flex-direction: row-reverse;
}
.title__profile{
    width: 368px;
    height: 368px;
    margin-right: 5rem;
}
.title__container{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    justify-content: left;
    

}
.title__network{
    display: flex;
    flex-direction: row;
}
.title__network__item{
    padding-right: 2rem;
}
.title__bio{

    font-weight: 700;
    font-size: 52px;
}
.title__subsection{
    font-weight: 500;
    font-size: 1.5rem;
    justify-content: center;
    width: 60%;
}

/*Sección About*/

section.about{
   background:  #EAF2FD;
   padding: 10px 153px;
}
.about__title{
    font: var(--fuente-montserrat);
font-weight: 700;
font-size: 32px;
}
.about__paragraph{
    font: var(--fuente-encodeSansC);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
section.skills{
    padding: 10px 153px;
}
/*Sección Hobbies*/

section.hobbies{
    padding: 10px 153px;
}

/* Experiencia Académica*/

section.academic{
    padding: 10px 153px;
}

/* experiencia*/

section.experience{
    padding: 10px 153px;
}

/*Contacto*/

section.formcontato{
padding: 10px 153px;
}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}