:root{

   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --fuente-encodeSansC: 'Encode Sans Condensed', sans-serif;
   --fuente-montserrat: 'Montserrat', sans-serif;
   --fuente-Open-Sans: 'Open Sans', sans-serif;
   --fuente-Raleway: 'Raleway', sans-serif;

}
body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: var(--fuente-encodeSansC);
    cursor: pointer;
    margin: 0;
    padding: 0;
    line-height: 1;
    width: 100vw;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
.todo {
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}





